<!doctype html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<head>
    <link rel="stylesheet" type="text/css" href="index.css">
</head>
<header>

    <title>Lista de Productos</title>
    <h1 id = "title">Lista de Productos</h1>
    <h2>    </h2>
    <h2 id = "nombre">Matias Orellana</h1>
    <h2 id = "rut">20040819-5</h1>
    <h2 id = "title">Introduccion al desarrollo web movil</h1>
    <h2 id = "title">25 de octubre del 2023</h1>

</header>
<body>


    <table class="table">
        <thead>
          <tr>
            <th scope="col">imagen</th>
            <th scope="col">nombre</th>
            <th scope="col">precio</th>
            <th scope="col">breve descripción </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
                <img src="../Castaña-de-caju-100-g.jpg" class="Castaña-de-caju" alt="Castaña-de-caju">
            </th>
            <td>Castaña de cajú</td>
            <td>$2.00 USD</td>
            <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis distinctio accusamus doloremque ad nisi dignissimos mollitia, quisquam aut dicta sequi deserunt nostrum atque, ea placeat inventore! Deleniti possimus sapiente soluta?</td>
            <th scope="row">
                <button type="button" class="btn">Ver detalles</button>
            </th>
        </tr>
          
          <tr>
            <th scope="row"><img src="../Ciboulette-en-sobre-2-g-1-160576820.jpg" class="Ciboulette" alt="Ciboulette"></th>
            <td>Ciboulette</td>
            <td>$4.00 USD</td>
            <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis tempora odio nemo velit dicta iusto, culpa sed placeat eos id doloribus. Doloribus nemo quo similique nostrum fugiat aperiam vitae fugit.</td>
            <th scope="row">
                <button type="button" class="btn">Ver detalles</button>
            </th>
        </tr>
          
          <tr>
            <th scope="row"><img src="../Endulzante-sachet-stevia-100-un-1-159597551.jpg" class="Endulzante" alt="Endulzante"></th>
            <td>Endulzante</td>
            <td>$5.00 USD</td>
            <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus, aliquam, debitis quam deserunt ipsam quidem necessitatibus quae possimus eius aspernatur dolore assumenda inventore atque soluta sapiente aperiam blanditiis? Ad, veritatis?</td>
            <th scope="row">
                <button type="button" class="btn">Ver detalles</button>
            </th>
        </tr>
          <tr>
            <th scope="row"><img src="../Mix-italiano-Jumbo-pote-150-g-1-57509692.jpg" class="PoteItaliano" alt="PoteItaliano"></th>
            <td>Pote Italiano Mix</td>
            <td>$4.50 USD</td>
            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, culpa sed qui nihil laborum atque laudantium maiores dignissimos esse cum, facere deleniti perferendis reiciendis vitae consequuntur. Expedita, aperiam. Neque, dolor!</td>
            <th scope="row">
                <button type="button" class="btn">Ver detalles</button>
            </th>
        </tr>
          <tr>
            <th scope="row"><img src="../Nuez-cuarto-700-g-1-150161164.jpg" class="Nuez" alt="Nuez"></th>
            <td>Nuez</td>
            <td>$3.50 USD</td>
            <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius facere quia, quidem sint blanditiis quisquam repellat libero dolores, ducimus quibusdam quos exercitationem similique ex? Quibusdam totam quisquam fugit ad alias.</td>
            <th scope="row">
                <button type="button" class="btn">Ver detalles</button>
            </th>
        </tr>
          <tr>
            <th scope="row"><img src="../Ciboulette-en-sobre-2-g-1-160576820.jpg" class="Ciboulette" alt="Castaña-de-caju"></th>
            <td>Ciboulette</td>
            <td>$4.00 USD</td>
            <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis tempora odio nemo velit dicta iusto, culpa sed placeat eos id doloribus. Doloribus nemo quo similique nostrum fugiat aperiam vitae fugit.</td>
            <th scope="row">
                <button type="button" class="btn">Ver detalles</button>
            </th> 
        </tr>
          <tr>
            <th scope="row"><img src="../Papa-malla-2-kg.jpg" class="Papa" alt="Papa"></th>
            <td>Papa</td>
            <td>$6.00 USD</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit laudantium at consectetur quasi explicabo nulla autem necessitatibus quo voluptatem obcaecati eligendi unde vitae minima eos quisquam perferendis, quibusdam neque similique.</td>
            <th scope="row">
                <button type="button" class="btn">Ver detalles</button>
            </th>
        </tr>
          <tr>
            <th scope="row"><img src="../Salmon-ahumado-200-g-1-64896708.jpg" class="Salmon" alt="salmon"></th>
            <td>Salmon</td>
            <td>$5.50 USD</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus fuga architecto, consequatur hic neque esse laboriosam quasi aut voluptate deserunt. Modi ad ex quam illo quia cum dignissimos laboriosam nobis.</td>
            <th scope="row">
                <button type="button" class="btn">Ver detalles</button>
            </th>  
        </tr>
          <tr>
            <th scope="row"><img src="../Rolls-en-linea-90-g.jpg" class="Rolls" alt="Rolls"></th>
            <td>Rolls</td>
            <td>$3.50 USD</td>
            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis nostrum dicta vel minus reiciendis officia nulla dignissimos voluptas quibusdam officiis fugit in nam, aliquam accusamus aspernatur quos perferendis. Ut, sequi!</td>
            <th scope="row">
                <button type="button" class="btn">Ver detalles</button>
            </th> 
        </tr>
          <tr>
            <th scope="row"><img src="../Vinagre-de-manzana-organico--500-ml.jpg" class="Vinagre de manzana" alt="Vinagre de manzana"></th>
            <td>Vinagre de manzana</td>
            <td>$2.50 USD</td>
            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, beatae? Eos sed necessitatibus aliquid consequatur non repudiandae expedita ex impedit veritatis tempora! Odio corrupti numquam tempora molestiae recusandae ullam ut?</td>
            <th scope="row">
                <button type="button" class="btn">Ver detalles</button>
            </th>
        </tr>
        </tbody>
      </table>


</body>