h1 {

    
    font-size: 25pt;

}

h2 {


    font-size: 10pt;

}

h1, h2{


    text-align: center;

}

img{


    width: 200px;
    height: 200px;

}

button{

    color: blue;
    background-color: blue;
    border-bottom-color: blue;
    

}
